
@model SongRecommendation.ViewModels.SongRateViewModel

        <div class="text-center">
            <h1 class="display-4">Praca licencjacka</h1>
            <p>Autor Karol Górecki</p>
        </div>



        <form method="post" asp-action="Create">
            <div class="container p-3">
                <div class="row pt-4">
                    <div class="col-6">
                        <h2 class="text-primary">Lista utworów do oceny</h2>
                    </div>
                </div>
                <p>Wybierz sposób rekomendacji: </p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="algorithm" id="matrix" value="matrix" checked>
                    <label class="form-check-label" for="matrix">
                        Faktoryzacja Macierzy
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="algorithm" id="classification" value="classification">
                    <label class="form-check-label" for="classification">
                        Klasyfikacja Wieloklasowa
                    </label>
                </div>

                <p> </p>
                <br />

                @if (Model.Songs.Count() > 0)
                {
                    <table class="table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    Autor
                                </th>
                                <th>
                                    Nazwa
                                </th>
                                <th>
                                    Gatunek
                                </th>
                                <th>
                                    Ocena
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.Songs.ElementAt(0).ArtistName</td>
                                <td>@Model.Songs.ElementAt(0).Title</td>
                                <td>@Model.Songs.ElementAt(0).Terms</td>
                                <td>
                                    <select asp-for="Rate0" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(1).ArtistName</td>
                                <td>@Model.Songs.ElementAt(1).Title</td>
                                <td>@Model.Songs.ElementAt(1).Terms</td>
                                <td>
                                    <select asp-for="Rate1" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(2).ArtistName</td>
                                <td>@Model.Songs.ElementAt(2).Title</td>
                                <td>@Model.Songs.ElementAt(2).Terms</td>
                                <td>
                                    <select asp-for="Rate2" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(3).ArtistName</td>
                                <td>@Model.Songs.ElementAt(3).Title</td>
                                <td>@Model.Songs.ElementAt(3).Terms</td>
                                <td>
                                    <select asp-for="Rate3" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(4).ArtistName</td>
                                <td>@Model.Songs.ElementAt(4).Title</td>
                                <td>@Model.Songs.ElementAt(4).Terms</td>
                                <td>
                                    <select asp-for="Rate4" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(5).ArtistName</td>
                                <td>@Model.Songs.ElementAt(5).Title</td>
                                <td>@Model.Songs.ElementAt(5).Terms</td>
                                <td>
                                    <select asp-for="Rate5" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(6).ArtistName</td>
                                <td>@Model.Songs.ElementAt(6).Title</td>
                                <td>@Model.Songs.ElementAt(6).Terms</td>
                                <td>
                                    <select asp-for="Rate6" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(7).ArtistName</td>
                                <td>@Model.Songs.ElementAt(7).Title</td>
                                <td>@Model.Songs.ElementAt(7).Terms</td>
                                <td>
                                    <select asp-for="Rate7" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(8).ArtistName</td>
                                <td>@Model.Songs.ElementAt(8).Title</td>
                                <td>@Model.Songs.ElementAt(8).Terms</td>
                                <td>
                                    <select asp-for="Rate8" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>@Model.Songs.ElementAt(9).ArtistName</td>
                                <td>@Model.Songs.ElementAt(9).Title</td>
                                <td>@Model.Songs.ElementAt(9).Terms</td>
                                <td>
                                    <select asp-for="Rate9" asp-items="Model.Rating"></select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Brak utworów do wyboru</p>
                }

            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-info  w-75" value="Potwierdź" />
            </div>
            </form>



